
@{
    ViewBag.Title = "HP furniture - Cửa hàng 360 độ";
    Layout = "~/Views/share/HPfurnitureLayout.cshtml";
    ViewBag.Active = 5;
    ViewBag.Nav = 3;
}

<!-- Cửa hàng 360 độ -->
<div class="col-12" style="height: 50px;display: flex; align-items: center;justify-content: center;">
    <h2 style="margin: 0;">KHÁM PHÁ CỬA HÀNG 360 ĐỘ</h2>
</div>
<div class="col-12" style="height: 50px;display: flex; align-items: center;justify-content: center;">
    <span style="margin: 0; color: #333; font-size: 17px;">
        Trải nghiệm ngay sản phẩm của Nhà Xinh một cách chân thực trên tay bạn. Tham quan, xem thông tin sản phẩm chi tiết với góc nhìn 360 độ hoàn chỉnh.
    </span>
</div>
<div class="col-12" style="height: 600px;">
    <iframe class="vd" width="560" height="315" src="https://www.youtube.com/embed/-044zH6jIF8?si=838seKmG3B5oRvI3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="col-12" style="height: 5%;">
    <span style="font-size: 17px; line-height: 1.5;">
        Với hệ thống 8 cửa hàng <a href="#" style="color: black; font-weight: bold; font-style: italic;">(Xem tại đây)</a> tại TP. Hồ Chí Minh, Hà Nội, Bình Dương, Ecopark, Nhà Xinh cung cấp những trải nghiệm chân thực và đầy đủ với sự phong phú về các sản phẩm, cảm hứng và ý tưởng về không gian sống.
    </span>
    <br>
    <span style="font-size: 17px; line-height: 2">
        Bên cạnh đó, Nhà Xinh luôn sẵn sàng để cung cấp và giao hàng cho bạn trên tất cả tỉnh thành trong cả nước. Hãy liên hệ ngay với Nhà Xinh qua Hotline: <strong>18007200</strong>
    </span>
</div>
<div class="col-1" style="height: 5%;"></div>
<div class="col-10" style="height: 5%;">
    <div class="col-12 mar" style="height: 5%;">
        <div class="address">
            <div class="address__title">
                <i class="fa-solid fa-minus address__icon"></i>
                <h3>CỬA HÀNG HP FURNITURE TẠI HÀ NỘI</h3>
            </div>
            <ul class="address__list">
                <li class="address__list--item">
                    • Tầng 3, TTTM Sun Plaza, 69 Thụy Khuê, Quận Tây Hồ – (024) 3201 8208
                    (Từ Thứ 2 đến CN: 9h – 20h)
                </li>
                <li class="address__list--item">
                    • Tòa nhà F4, 112-114 Trung Kính, Quận Cầu Giấy – (024) 3782 1761
                    (Từ Thứ 2 đến CN: 8h30 – 21h)
                </li>
                <li class="address__list--item">
                    • L4 – 04, Tầng 4, TTTM Vincom Center, 54 Nguyễn Chí Thanh, Quận Đống Đa – (024) 3761 7666
                    (Từ Thứ 2 đến CN: 10h – 21h30)
                </li>
                <li class="address__list--item">
                    • Tầng 2, Vincom Mega Mall, KĐT Vinhomes Smart City, Phường Đại Mỗ, Quận Nam Từ Liêm – (024) 3202 8027 | (024) 3202 0306
                    (Từ Thứ 2 đến T6: 10h – 22h, T7 & CN: 9h30 – 22h)
                </li>
            </ul>
        </div>

    </div>
    <div class="col-12 mar" style="height: 5%;">
        <div class="address">
            <div class="address__title">
                <i class="fa-solid fa-minus address__icon"></i>
                <h3>CỬA HÀNG HP FURNITURE TẠI HỒ CHÍ MINH</h3>
            </div>
            <ul class="address__list">
                <li class="address__list--item">
                    • 187A Hai Bà Trưng, Phường 6, Quận 3 – (028) 6252 0022 / 6251 2200
                    (Từ Thứ 2 đến CN: 8h30 – 21h)
                </li>
                <li class="address__list--item">
                    • 107 – 109 Xa Lộ Hà Nội, Phường Thảo Điền, Quận 2 – (028) 3535 1505
                    (Từ Thứ 2 đến CN: 8h30 – 21h)
                </li>
                <li class="address__list--item">
                    • Khu TMDV Hồ Bán Nguyệt, Lô CR03, 111 Tôn Dật Tiên, Phường Tân Phú, Quận 7 – (028) 5413 7355
                    (Thứ 2 đến Thứ 6: 8h30 – 20h; Thứ 7 & CN: 8h30 – 20h30)
                </li>
                <li class="address__list--item">
                    • L4 Diamond Plaza, 34 Lê Duẩn, Quận 1 – (028) 2200 1079
                    (Từ Thứ 2 đến CN: 9h30 – 18h)
                </li>
            </ul>
        </div>

    </div>
    <div class="col-12 mar" style="height: 5%;">
        <div class="address">
            <div class="address__title">
                <i class="fa-solid fa-minus address__icon"></i>
                <h3>CỬA HÀNG HP FURNITURE TẠI ECO PARK</h3>
            </div>
            <ul class="address__list">
                <li class="address__list--item">
                    • Tòa nhà E1, Chung cư Rừng Cọ, Khu đô thị Ecopark, Hưng Yên
                    – (024) 6262 0739
                </li>
            </ul>
        </div>

    </div>
    <div class="col-12 mar" style="height: 5%;">
        <div class="address">
            <div class="address__title">
                <i class="fa-solid fa-minus address__icon"></i>
                <h3>CỬA HÀNG HP FURNITURE TẠI BÌNH DƯƠNG</h3>
            </div>
            <ul class="address__list">
                <li class="address__list--item">
                    • 442A Đại lộ Bình Dương, Tổ 31, Khu phố Nguyễn Trãi, Phường Lái Thiêu, TP. Thuận An – (027) 4222 2019
                    (Từ Thứ 2 đến CN: 8h30 – 19h)
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="col-1" style="height: 5%;"></div>
<div class="col-12" style="height: 5%;">
    <span style="font-size: 17px; line-height: 1.5;">
        Cùng bước vào không gian đầy sức sống với các thiết kế tiện nghi, nhìn ngắm các sản phẩm đẹp mắt, đa dạng. Từ chiếc sofa êm ái, bàn ăn rộng rãi cho đến những chiếc ghế nhiều màu sắc. Tất cả thông tin về kích thước và chất liệu đều được hiển thị chi tiết trong video, giúp bạn dễ dàng đưa ra lựa chọn hơn.
    </span>
    <br>
    <span style="font-size: 17px; line-height: 2">
        Hãy cùng đi dạo một vòng cửa hàng Nhà Xinh qua video dưới đây nhé.
    </span>
</div>
<div class="col-12" style="height: 600px;">
    <iframe class="vd" width="560" height="315" src="https://www.youtube.com/embed/RiAU3N_DrEc?si=9oBvo_a-ApWNp9c7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="col-12" style="height: 20px;"></div>
<div class="col-1" style="height: 5%;"></div>
<div class="col-10" style="height: 5%;">
    <div class="col-6" style="height: 580px;">
        <div class="address__img">
            <div class="pos">
                <img class="address__img--small" src="~/Assets/assets/img/camhung3.jpg" alt="">
                <div class="address__img--title">
                    <h2>PHÒNG ĂN</h2>
                    <a class="address__img--link" href="~/SanPhamPhongAn/Index">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" style="height: 580px;">
        <div class="address__img">
            <div class="pos">
                <img class="address__img--small" src="~/Assets/assets/img/camhung4.jpg" alt="">
                <div class="address__img--title">
                    <h2>PHÒNG KHÁCH</h2>
                    <a class="address__img--link" href="~/SanPhamPhongKhach/Index">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="height: 20px;"></div>
    <div class="col-12" style="height:650px;">
        <div class="address__img">
            <div class="pos">
                <img class="address__img--big" src="~/Assets/assets/img/camhung5.jpg" alt="">
                <div class="address__img--title">
                    <h2>PHÒNG NGỦ</h2>
                    <a class="address__img--link" href="~/SanPhamPhongNgu/Index">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-1" style="height: 5%;"></div>
<div class="col-12" style="height: 10px;"></div>

